# general
seed: 42
workers: 1
dataset_dir: "./Selected_Figures"

# train options
ratio: 1.0
batch_size: 256
image_size: 60
start_epoch: 50
epochs: 300
class_num: 3
#model_path: "save/CIFAR-10"
model_path: "save/mic_half_01"
#model_path: "save/microglia_2cluster"
cuda_device: 'cuda'
#dataset: "CIFAR-10" # CIFAR-10 / CIFAR-100 / STL-10 / ImageNet-10 / ImageNet-dogs / tiny-ImageNet
dataset: "microglia"
# model options
resnet: "ResNet34" # ResNet18 / ResNet34 / ResNet50
feature_dim: 128

reload: False
transfer: True

# loss options
learning_rate: 0.0003
weight_decay: 0.0001
instance_temperature: 0.5
cluster_temperature: 1.0
